<%- include("partials/header") -%>

<h1>HOME</h1>
<%= homeStartingContent %>

<% posts.forEach(function(post) { %>
  <h1><a  href="/posts/<%=post.postTitle%>"><%=post.postTitle%> </a> </h1>

<%   var content = post.postContent %>



<% if (content.length > 100 ) {   %>
    <% var content = content.substring(0,100) + " ... "; %>
    <p> <%=content%> <a  href="/posts/<%=post.postTitle%>"> Read more </a> </p>
    <% } else { %>
      <p> <%=content%> </p>
      <% }  %>
<% }) %>

<% console.log(posts) %>
<%- include("partials/footer") -%>
